
@{

}

   

<body class='index'>

    <p><strong>___________________________________________</strong></p>
    <div class='nav_container'>
        <div class='px_topnav'>
            <ul class='px_topnav__wrapper'>
                <li class='px_topnav__logo_container'>
                    <a href='https://500px.com'>
                        <img class='default' src='/images/logo-b7570240.svg'>
                        <img class='hover' src='/images/logo_blue-1487bda8.svg'>
                    </a>
                </li>




                <div class='content'>
                    <div class='top background'>
                        <div class='photos cleafix'>
                            <div class='photo one'></div>
                            <div class='photo two'></div>
                            <div class='photo three'></div>
                            <div class='photo four'></div>
                            <div class='photo five'></div>
                        </div>

                        <div class='center'>
                            <div class='intro'><h1 class='on-image'>The community for passionate photographers</h1><p class='on-image'>Join over 15 million photographers from 195 countries to discover and share incredible photos, gain global exposure, and get paid for your work and skills.</p></div>
                        </div>

                        <div class='attributions'>
                            <img src="https://500px.com/photo/77427541/my-next-adventure-by-michael-matti" />
                            <a class='attribution_icon' href='//500px.com/photo/77427541/my-next-adventure-by-michael-matti' target='_blank' title='My Next Adventure by Michael Matti'></a>
                            <a class='attribution_icon' href='//500px.com/photo/85265147/elena-by-ann-nevreva' target='_blank' title='Elena by Ann Nevreva'></a>
                            <a class='attribution_icon' href='//500px.com/photo/83575671/nyc-by-sam-alive' target='_blank' title='NYC by Sam Alive'></a>
                            <a class='attribution_icon' href='//500px.com/photo/111983049/morgan-phillips-photography-by-morgan-phillips' target='_blank' title='Photo by Morgan Phillips'></a>
                            <a class='attribution_icon' href='//500px.com/photo/79692405/colors-of-faith-by-devesh-tripathi' target='_blank' title='Colors of Faith by Devesh Tripathi'></a>
                        </div>
                    </div>

                    <div class='scrollable'>
                        <section class='tabs'><h2>Share inspiring photography with the world</h2><p>For mobile photographers to professionals, 500px has the products and features to take your photography to the next level.</p></section>
                        <section class='offices'>
                            <h2 class='tall'>Office</h2><div class='wrapper_small clearfix'>
                                <div class='office'>
                                    <div class='info'>
                                        <div class='title'>Plovdiv</div><div class='address'>
                                            45 Gladston St, Suite 25
                                            <br>
                                            Plovdiv, 4000, Bulgaria
                                        </div>
                                    </div>
                                    <a class='attribution_icon' href='//500px.com/photo/170559355/toronto-chipset-by-roof-topper' target='_blank'></a>
                                </div>
                            </div>
                        </section>
                        <section class='more hide'>
                            <h2 class='tall'>From our blog</h2><div class='wrap'>
                                <div class='posts'>
                                    <a class='post' href='#'>
                                        <div class='preview' style='background: transparent center center no-repeat; background-size: cover'></div><div class='title'></div><div class='subtitle'></div>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

</body>
</html>



