

@{


<h1>Photos</h1>

<img src="@ViewData["fileLocation"]" width="250"/><br>
<br />
<label>@ViewData["fname"]</label>
<br>
<label>@ViewData["descr"]</label>
<br>
<label>@ViewData["tags"]</label>

    }

